.bandaContainer {
  background-color: rgb(141, 139, 139);
  min-height: 100vh;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

  .contentBox {
  background-color: #cccbcb;
  color: #000;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
  animation: fadeIn 0.3s ease-in-out;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }