.landing {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar conteúdo horizontalmente */
  justify-content: center; /* Centralizar conteúdo verticalmente */
  min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da janela */
  padding: 20px;
  background-color: #494848; /* Fundo preto */
  color: #000000; /* Texto branco */
  position: relative; /* Necessário para posicionar o botão */
  z-index: 1;
  font-family:''
  
}
  
  .landing button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none; /* Remove a borda */
  background: none; /* Remove o fundo */
  color: inherit; /* Mantém a cor do texto herdada */
  outline: none; /* Remove a borda de foco */
  position: absolute;
  bottom: 40px; /* Distância do fundo da página */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  z-index: 2;
}

  .landing button:hover{
  color: #ccc; /* Cor mais clara ao passar o mouse */
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .watermark {
  bottom: 20px; /* Distância do fundo da página */
  right: 20px; /* Distância da borda direita da página */
  opacity: 1; 
  z-index: 0; 
  width: 700px; 
  object-fit: contain;
  animation: fadeIn 1s ease-in-out;
}

  .aftsescrita {
  bottom: 20px; /* Distância do fundo da página */
  right: 20px; /* Distância da borda direita da página */
  opacity: 1; /* Ajusta opacidade */
  z-index: 0; /* Garante que a imagem fique atrás do conteúdo */
  width: 700px; /* Ajustar largura */
  object-fit: contain;
  animation: fadeIn 1s ease-in-out;
}

  .spotifyEmbed{
  margin-top: 50px;
  border-radius: 12px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}