.homeContainer {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

.contentBox {
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
