/* Fundo preto para toda a página */
.container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Quadro branco para o conteúdo */
  .contentBox {
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
