.carousel {
    width: 70%;
    margin: auto;
    
    
    
}

.slide {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.memberImage {
    max-width: 200%;
    max-height: 400px;
    height: auto;
    width: auto;
    animation: fadeIn 1s ease-in-out;
    margin: 0 auto;
}

.memberInfo {
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.socialButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}

.socialButton {
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .socialButton:hover {
    background-color: #444;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }