.carousel {
  width: 70%;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.slide {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.memberImage {
  max-width: 200%;
  max-height: 400px;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.memberInfo {
  margin-top: 20px;
  text-align: center;
}

.socialButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  animation: fadeIn 2s ease-in-out;
}

.socialButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

  .socialButton:hover {
  background-color: #444;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .carousel {
      width: 90%;
    }
  
    .memberImage {
      max-width: 100%;
      max-height: 300px;
    }
  
    .memberInfo {
      margin-top: 10px;
    }
  
    .socialButtons {
      gap: 5px;
    }
  
    .socialButton {
      padding: 8px;
      font-size: 14px;
    }
  }