.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 1000; /* Mantém o Footer acima de outros conteúdos */
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

  .socialButtons {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  
}

  .socialButton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
  display: flex;
  align-items: center;
  
}

  .socialButton:hover {
  background-color: #727272; /* Cor mais clara ao passar o mouse */
}
  
  .contactInfo {
  text-align: end;
  
}
@media (max-width: 768px) {
  .socialButtons {
    gap: 10px;
  }

  .socialButton{
    font-size: 14px;
  }

  .contactInfo{
    font-size: 14px;
    
  }
}
