.navbar {
  background-color: black;
  padding: 20px;
}
  
  .navLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  cursor: pointer;
  padding: 0;
}
  
  .link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}
  
  .link:hover {
  color: #ccc; /* Cor mais clara ao passar o mouse */
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}