body {
  background-color: rgb(88, 87, 87);
  color: rgb(255, 251, 251);
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

.main-content {
  padding: 20px;
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 8px;
}

.page {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 768px) {
  .main-content {
    padding: 10px;
    margin: 10px;
  }

  .page {
    max-width: 100%;
    padding: 10px;
  }

  body {
    font-size: 14px;
  }

  .app {
    text-align: left; /* Alinhamento diferente em telas pequenas, se necessário */
  }
}